<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListUser</servlet-name>
        <servlet-class>com.servlets.CreateListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCliente</servlet-name>
        <servlet-class>com.servlets.CreateCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListCliente</servlet-name>
        <servlet-class>com.servlets.CreateListCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProducto</servlet-name>
        <servlet-class>com.servlets.CreateProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListProducto</servlet-name>
        <servlet-class>com.servlets.CreateListProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteById</servlet-name>
        <servlet-class>com.servlets.ClienteById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteUpdate</servlet-name>
        <servlet-class>com.servlets.ClienteUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionInvalida</servlet-name>
        <servlet-class>com.servlets.SesionInvalida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPedido</servlet-name>
        <servlet-class>com.servlets.AddPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePedido</servlet-name>
        <servlet-class>com.servlets.CreatePedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListPedido</servlet-name>
        <servlet-class>com.servlets.CreateListPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUsuario</servlet-name>
        <servlet-class>com.servlets.CreateUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListaUsuario</servlet-name>
        <servlet-class>com.servlets.CreateUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListUser</servlet-name>
        <url-pattern>/CreateListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCliente</servlet-name>
        <url-pattern>/CreateCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListCliente</servlet-name>
        <url-pattern>/CreateListCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProducto</servlet-name>
        <url-pattern>/CreateProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListProducto</servlet-name>
        <url-pattern>/CreateListProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteById</servlet-name>
        <url-pattern>/ClienteById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteUpdate</servlet-name>
        <url-pattern>/ClienteUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionInvalida</servlet-name>
        <url-pattern>/SesionInvalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPedido</servlet-name>
        <url-pattern>/AddPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePedido</servlet-name>
        <url-pattern>/CreatePedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListPedido</servlet-name>
        <url-pattern>/CreateListPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUsuario</servlet-name>
        <url-pattern>/CreateUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListaUsuario</servlet-name>
        <url-pattern>/CreateListaUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
